.nav{
    position: fixed;
    top: 0;
    padding: 20px;
    width: 100%;
    height: 30px;
    z-index: 1;

    transition-timing-function: ease-in;
    transform: all 0.8s;
}

.nav__contents{
    display: flex;
    justify-content: space-evenly;
}

.nav__black{
    background-color: #111;
}

.nav__netflixlogo{
    position: fixed;
    top: 10px;
    right: 20px;
    left: 0;
    width: 80px;
    object-fit: contain;
    padding-left: 20px;
    cursor: pointer;
}

.nav__avatar{
    position: fixed;
    right: 20px;
    width: 30px;
    cursor: pointer;
}